# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# 빌드 파일
*.lo
*.ilk
*.tmp
*.log


# Linker output
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 디펜던시/메타파일
*.dep

# 백업 파일
*~
*.swp
*.bak
*.old


# IDE 및 편집기 관련
.vscode/
.idea/
*.code-workspace

# macOS 특화
.DS_Store

# 기타 사용자 설정 파일
*.user
*.suo
*.ncb
*.sdf
*.opensdf

# CLion & JetBrains IDE
cmake-build-*/
# CMake 관련 빌드 캐시
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 빌드 결과물
*.iml